# ======================
# Python
# ======================
__pycache__/
*.pyc
.venv/

# ======================
# Env
# ======================
.env

# ======================
# Logs
# ======================
app/logs/

# ======================
# Models
# ======================
app/models/

# ======================
# Databases
# ======================
*.db
*.sqlite3

# ======================
# IDE
# ======================
.idea/
.vscode/

# ======================
qdrant_test/
ragchecker/